---
openapi: 3.1.0
info:
  title: Silicon Hook API
  version: 1.0.0
  summary: Signed webhook endpoints for Silicons, with verified history and optional delivery through Ting.
  description: |
    Silicon Hook gives each Silicon signed webhook endpoints at
    `https://backend.hook.teamofsilicons.com/silicon/{silicon}/{endpoint_key}`. Every
    request to an active endpoint is answered with `webhook.ok`. Requests that
    verify against the hook's signature policy are kept for 14 days; requests
    that do not verify are withheld and kept in a separate 14-day blocked log.

    **Sign-in.** Every management route takes `Authorization: Bearer <access token>`:
    a Silicon Accounts access token issued to Hook (an EdDSA JWT whose audience is
    Hook's app id, `hook`). `GET /api/v3/auth/accounts` says where to get one. Routes
    that reveal a signing secret, change who has access, or delete and restore hooks
    also confirm with Silicon Accounts that the token is still active.

    **Who can do what.** Hooks belong to a Silicon. The Silicon itself and its
    custodian (a Carbon) have full control; the custodian acts as itself, never as
    the Silicon. They can grant other Carbons and Silicons `view` or `manage`
    access. A Silicon looked after by a different custodian receives a grant only
    after adding the owning Silicon (or its custodian) to its allow-list. Anyone
    else, including the Silicon's siblings, is refused with `403 no_access`.

    **Naming a Silicon.** `{silicon}` is the Silicon's current id (`si:handle`) or
    its uuid. Ids can change; uuids never do. Provider URLs keep working after an
    id change: ingress accepts the uuid, the current id and every earlier id Hook
    has seen.

    **Delivery.** When the operator sets `HOOK_TING_URL`, every verified request is
    queued for Ting as a compact reference (the recipient fetches the full request
    from Hook). Without it Hook still receives, verifies and stores every request,
    queues nothing, and the delivery routes answer `delivery_disabled`.

    **Versions.** This is API v3. API v1 and v2 are retired: every `/api/v1/...` and
    `/api/v2/...` management route answers `410 api_version_sunset`. Provider URLs
    under `/api/v1/silicon/...` and `/api/v2/silicon/...` keep working. Requests may
    pin the major with `Silicon-Hook-API-Version: v3`.

    Timestamps are UTC RFC 3339 values. Endpoint keys route requests but never
    authenticate them.
  contact:
    email: engineering@teamofsilicons.com
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://backend.hook.teamofsilicons.com
  description: Hook API; public ingress may use the configured Hook web origin.
security:
- bearerAuth: []
tags:
- name: System
  description: Process health, build information and API versions.
- name: Sign-in
  description: How to sign in with Silicon Accounts, and who a token belongs to.
- name: Silicons
  description: The Silicons a caller can open, who has access to them, and their allow-lists.
- name: Hooks
  description: Webhook endpoint lifecycle and signature policy.
- name: Ingress
  description: Public provider endpoints.
- name: History
  description: Retained verified and blocked requests.
- name: Delivery
  description: Optional delivery through Ting, observers and publication status.
- name: Accounts webhook
  description: Silicon Accounts notifies Hook about account changes.
x-ting-notification:
  description: "Hook publishes this schema in the data field of Ting type <Hook app_id>.webhook.received. The outer Ting transport envelope is owned by Ting."
  dataSchema:
    "$ref": "#/components/schemas/TingHookEvent"
paths:
  "/healthz":
    get:
      tags: [System]
      operationId: liveness
      summary: Process liveness
      security: []
      responses:
        '200':
          description: The process is alive.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Health"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
  "/readyz":
    get:
      tags: [System]
      operationId: readiness
      summary: Readiness, including whether delivery through Ting is on
      security: []
      responses:
        '200':
          description: The database schema and grants are ready.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Readiness"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/version":
    get:
      tags: [System]
      operationId: negotiateApiVersion
      summary: Choose the API major shared with the client
      description: The client lists the majors it implements in `Silicon-Hook-Supported-API-Versions`;
        Hook answers with the highest one both sides support.
      security: []
      parameters:
      - name: Silicon-Hook-Supported-API-Versions
        in: header
        required: false
        schema:
          type: string
          example: v3
      responses:
        '200':
          description: The selected major.
          headers:
            Silicon-Hook-API-Version:
              schema:
                type: string
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiVersionNegotiation"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '406':
          description: No shared major (api_version_unsupported).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/contracts":
    get:
      tags: [System]
      operationId: contractCatalog
      summary: Lifecycle of every API major
      security: []
      responses:
        '200':
          description: Contract catalog.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ContractCatalog"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v3/version":
    get:
      tags: [System]
      operationId: version
      summary: Build information
      security: []
      responses:
        '200':
          description: Service name and version.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VersionInfo"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
  "/api/v3/telemetry":
    post:
      tags: [System]
      operationId: ingestTelemetry
      summary: Record one anonymous diagnostic event from an official client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TelemetryEvent"
      responses:
        '202':
          description: Accepted.
        '204':
          description: Telemetry is off on this Hook; nothing was recorded.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/v3/auth/accounts":
    get:
      tags: [Sign-in]
      operationId: signInInformation
      summary: How to get an access token for Hook
      security: []
      responses:
        '200':
          description: Hook's app id, the Silicon Accounts issuer and how Carbons and Silicons sign in.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SignInInformation"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
  "/api/v3/auth/status":
    get:
      tags: [Sign-in]
      operationId: authStatus
      summary: Who the access token belongs to
      responses:
        '200':
          description: The account behind the token.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AuthStatus"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/webhook":
    post:
      tags: [Accounts webhook]
      operationId: receiveAccountsWebhook
      summary: Receive a Silicon Accounts event (also served at /webhook/)
      description: |
        Silicon Accounts signs `{timestamp}.{raw body}` with HMAC-SHA-256 and sends
        `X-Accounts-Timestamp` and `X-Accounts-Signature: v1=<hex>`. Hook checks the
        signature over the raw body before parsing it and refuses deliveries older
        than five minutes. A repeated `event_id` changes nothing. Hook acts on
        `account.id_changed`, `account.updated`, `account.deleted`,
        `membership.signed_out`, `membership.access_removed` and
        `silicon.custodian_changed`; other types are acknowledged.
      security: []
      parameters:
      - name: X-Accounts-Timestamp
        in: header
        required: true
        schema:
          type: string
          pattern: "^[0-9]+$"
      - name: X-Accounts-Signature
        in: header
        required: true
        schema:
          type: string
          pattern: "^v1=[0-9a-f]{64}"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AccountsWebhookEvent"
      responses:
        '204':
          description: Applied, already applied, or a type Hook does not act on.
        '400':
          description: Signed correctly, but not a Silicon Accounts event (invalid_event).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '401':
          description: Missing or wrong signature, or a stale timestamp (webhook_signature_invalid).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '503':
          description: Hook has no webhook secret configured (webhook_not_configured), or its database is unavailable.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
  "/api/v3/silicons":
    get:
      tags: [Silicons]
      operationId: listSilicons
      summary: The Silicons the caller can open
      description: A Silicon sees itself. A Carbon sees the Silicons Hook knows it looks after.
        Both see the Silicons that granted them access. A Silicon Hook has not met yet can
        still be opened by its id or uuid.
      responses:
        '200':
          description: Silicons and how the caller reaches each one.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SiliconList"
        '401':
          "$ref": "#/components/responses/Unauthorized"
  "/api/v3/silicons/{silicon}/access":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    get:
      tags: [Silicons]
      operationId: getAccess
      summary: Who has access to the Silicon's hooks
      description: The Silicon and its custodian see every grant; a grantee sees its own.
      responses:
        '200':
          description: The caller's access, the custodian and the grants.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccessSummary"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '410':
          "$ref": "#/components/responses/Gone"
  "/api/v3/silicons/{silicon}/access/{account}":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/Account"
    put:
      tags: [Silicons]
      operationId: grantAccess
      summary: Grant or change access to the Silicon's hooks
      description: Only the Silicon or its custodian. A Silicon looked after by a different
        custodian must first add the owning Silicon or its custodian to its allow-list
        (otherwise `403 silicon_not_reachable`). Confirms the token is still active.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/GrantRequest"
      responses:
        '200':
          description: The grant as stored.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/GrantResult"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
    delete:
      tags: [Silicons]
      operationId: revokeAccess
      summary: Revoke a grant, or leave one (`{account}` = `me`)
      description: The Silicon and its custodian revoke any grant; a grantee can always
        remove its own. Confirms the token is still active.
      responses:
        '204':
          description: The grant is gone.
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
  "/api/v3/silicons/{silicon}/allow-list":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    get:
      tags: [Silicons]
      operationId: getAllowList
      summary: Accounts the Silicon accepts grants from
      responses:
        '200':
          description: The allow-list.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AllowList"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
  "/api/v3/silicons/{silicon}/allow-list/{account}":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/Account"
    put:
      tags: [Silicons]
      operationId: allowAccount
      summary: Accept grants from an account
      description: Only the Silicon or its custodian. Confirms the token is still active.
      responses:
        '200':
          description: The allow-list entry.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AllowEntry"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
    delete:
      tags: [Silicons]
      operationId: disallowAccount
      summary: Stop accepting new grants from an account
      description: Existing grants stay; only new grants and level changes are refused.
      responses:
        '204':
          description: Removed.
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
  "/api/v3/silicons/{silicon}/hooks":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    get:
      tags: [Hooks]
      operationId: listHooks
      summary: List the Silicon's hooks
      parameters:
      - name: include_deleted
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Hooks, newest first.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HookPage"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '410':
          "$ref": "#/components/responses/Gone"
    post:
      tags: [Hooks]
      operationId: createHook
      summary: Create a hook
      description: Needs the Silicon, its custodian or a manage grant. Returns the signing
        secret once. Confirms the token is still active.
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/HookCreate"
      responses:
        '201':
          description: The hook and its signing secret.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HookWithSecret"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
    patch:
      tags: [Hooks]
      operationId: setHooksEnabled
      summary: Enable or disable several hooks at once
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/HooksEnabledUpdate"
      responses:
        '200':
          description: The changed hooks.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HookPage"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/v3/silicons/{silicon}/hooks/accounts":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    post:
      tags: [Hooks]
      operationId: connectAccountsUpdates
      summary: Prepare the hook that receives the Silicon's own Silicon Accounts events
      description: Finds, restores or creates the Silicon's "Silicon Accounts" hook, which
        verifies Silicon Accounts' signing convention, and says how to finish - point the
        Silicon's webhook at the returned URL, then store the `whsec_` secret Silicon
        Accounts prints on this hook. Only the Silicon or its custodian. Confirms the
        token is still active.
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: The hook and the next steps.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/AccountsHookConnection"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
  "/api/v3/silicons/{silicon}/hooks/{hook_id}":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/HookId"
    get:
      tags: [Hooks]
      operationId: getHook
      summary: Read one hook
      responses:
        '200':
          description: The hook.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Hook"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
    patch:
      tags: [Hooks]
      operationId: updateHook
      summary: Change a hook's settings, signature policy or secret
      description: Needs the Silicon, its custodian or a manage grant. Setting a secret
        (bring your own) never changes the endpoint URL and confirms the token is still active.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/HookUpdate"
      responses:
        '200':
          description: The updated hook.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Hook"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
    delete:
      tags: [Hooks]
      operationId: deleteHook
      summary: Delete a hook (recoverable for 45 days)
      description: Confirms the token is still active.
      responses:
        '204':
          description: Deleted; restore it within 45 days.
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
  "/api/v3/silicons/{silicon}/hooks/{hook_id}/restore":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/HookId"
    post:
      tags: [Hooks]
      operationId: restoreHook
      summary: Restore a deleted hook with its endpoint and secret
      description: Confirms the token is still active.
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: The restored hook.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Hook"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '410':
          "$ref": "#/components/responses/Gone"
  "/api/v3/silicons/{silicon}/hooks/{hook_id}/secret/rotate":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/HookId"
    post:
      tags: [Hooks]
      operationId: rotateHookSecret
      summary: Replace the signing secret; the old one stops verifying at once
      description: Confirms the token is still active.
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: The new secret, shown once.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SigningSecretResponse"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/v3/silicons/{silicon}/hooks/{hook_id}/endpoint/rotate":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/HookId"
    post:
      tags: [Hooks]
      operationId: rotateHookEndpoint
      summary: Issue a new endpoint key; the old URL answers 410 forever
      description: Confirms the token is still active.
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: The hook with its new endpoint.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Hook"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
  "/api/v3/silicons/{silicon}/hooks/{hook_id}/events":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/HookId"
    - "$ref": "#/components/parameters/HistoryLimit"
    - "$ref": "#/components/parameters/HistoryCursor"
    get:
      tags: [History]
      operationId: listHookEvents
      summary: Verified requests of one hook
      responses:
        '200':
          "$ref": "#/components/responses/EventPageOk"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/v3/silicons/{silicon}/hooks/{hook_id}/blocked-requests":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/HookId"
    - "$ref": "#/components/parameters/HistoryLimit"
    - "$ref": "#/components/parameters/HistoryCursor"
    get:
      tags: [History]
      operationId: listHookBlockedRequests
      summary: Withheld requests of one hook
      responses:
        '200':
          "$ref": "#/components/responses/BlockedPageOk"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/v3/silicons/{silicon}/events":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/HistoryHookFilter"
    - "$ref": "#/components/parameters/HistoryLimit"
    - "$ref": "#/components/parameters/HistoryCursor"
    get:
      tags: [History]
      operationId: listEvents
      summary: Verified requests of all the Silicon's hooks
      responses:
        '200':
          "$ref": "#/components/responses/EventPageOk"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/v3/silicons/{silicon}/events/{event_id}":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/EventId"
    get:
      tags: [History]
      operationId: getEvent
      summary: Fetch one verified request (the target of a Ting reference)
      responses:
        '200':
          description: The retained request.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Event"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
  "/api/v3/silicons/{silicon}/blocked-requests":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/HistoryHookFilter"
    - "$ref": "#/components/parameters/HistoryLimit"
    - "$ref": "#/components/parameters/HistoryCursor"
    get:
      tags: [History]
      operationId: listBlockedRequests
      summary: Withheld requests of all the Silicon's hooks
      responses:
        '200':
          "$ref": "#/components/responses/BlockedPageOk"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
  "/api/v3/silicons/{silicon}/events/{event_id}/publication":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/EventId"
    get:
      tags: [Delivery]
      operationId: getPublicationStatus
      summary: Whether Ting accepted the Silicon's own copy of an event
      responses:
        '200':
          description: Publication state, or why nothing was queued.
          content:
            application/json:
              schema:
                oneOf:
                - "$ref": "#/components/schemas/PublicationStatus"
                - "$ref": "#/components/schemas/PublicationNotQueued"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v3/delivery":
    get:
      tags: [Delivery]
      operationId: deliveryStatus
      summary: Whether this Hook delivers through Ting
      responses:
        '200':
          description: Delivery is on, or off with the reason.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeliveryStatus"
        '401':
          "$ref": "#/components/responses/Unauthorized"
  "/api/v3/delivery/recipient":
    post:
      tags: [Delivery]
      operationId: enrolRecipient
      summary: Enrol the caller with Ting to receive Hook's notifications
      description: Hook asks Silicon Accounts for a single-use User verification proof
        from the caller's own access token and registers the caller with Ting. Confirms
        the token is still active.
      responses:
        '200':
          description: The caller is registered with Ting.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/RecipientEnrolment"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '409':
          "$ref": "#/components/responses/DeliveryDisabled"
        '429':
          "$ref": "#/components/responses/RateLimited"
        '502':
          "$ref": "#/components/responses/BadGateway"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v3/silicons/{silicon}/delivery/subscription":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    get:
      tags: [Delivery]
      operationId: getObserverSubscription
      summary: Whether the caller receives copies of the Silicon's events
      description: For Carbons with access (the custodian or a grantee).
      responses:
        '200':
          description: The caller's subscription, if any.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ObserverSubscriptionStatus"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
    post:
      tags: [Delivery]
      operationId: observeSilicon
      summary: Receive copies of the Silicon's future events through Ting
      description: For Carbons with access. Earlier events are never backfilled. The
        subscription ends when the access ends, the custodian changes away, or the Carbon
        signs out or is deleted. Confirms the token is still active.
      responses:
        '200':
          description: Subscribed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ObserverSubscriptionStatus"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          description: Delivery is off (delivery_disabled) or the Silicon already has 100
            observers (observer_limit_reached).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '502':
          "$ref": "#/components/responses/BadGateway"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    delete:
      tags: [Delivery]
      operationId: stopObservingSilicon
      summary: Stop receiving copies (works after the access ended)
      responses:
        '204':
          description: No longer subscribed.
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '404':
          "$ref": "#/components/responses/NotFound"
  "/silicon/{silicon}/{endpoint_key}":
    parameters:
    - "$ref": "#/components/parameters/Silicon"
    - "$ref": "#/components/parameters/EndpointKey"
    post:
      tags: [Ingress]
      operationId: receiveWebhook
      summary: Receive a provider request
      description: Any HTTP method is accepted; POST is documented as the common case.
        `{silicon}` may be the Silicon's uuid, current id or any earlier id. The exact
        method, URL, headers and body are captured. Signature-required hooks verify the
        request; unverified requests are still answered with webhook.ok, so the response
        is not a signature oracle, and are recorded in the blocked log. Twenty unverified
        requests from one address block it for a while. Bodies are limited to 1 MiB. The
        same endpoint is also served under `/api/v1/silicon/...` and `/api/v2/silicon/...`
        for provider URLs issued by earlier versions.
      security: []
      requestBody:
        required: false
        content:
          "*/*":
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: The request was received and receipted.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Receipt"
        '403':
          "$ref": "#/components/responses/Blocked"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '410':
          description: The endpoint key was rotated (endpoint_retired), or the Silicon was
            deleted (account_deleted).
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Silicon Accounts access token (EdDSA JWT, audience hook)
      description: |
        A Silicon Accounts access token issued to Hook. Carbons sign in with the device
        flow (`hook login`) or the web console; Silicons exchange a short-lived token from
        `silicon-accounts login --app hook -q` (`hook login --slt`). Tokens last 30
        minutes; refresh them with Silicon Accounts.
  parameters:
    Silicon:
      name: silicon
      in: path
      required: true
      description: The Silicon's current id (`si:handle`) or its uuid.
      schema:
        type: string
        minLength: 1
        maxLength: 255
        example: si:cos
    Account:
      name: account
      in: path
      required: true
      description: A Carbon or Silicon, by current id (`c:handle`, `si:handle`) or uuid. `me`
        names the caller when leaving a grant.
      schema:
        type: string
        minLength: 1
        maxLength: 255
        example: c:alice
    HookId:
      name: hook_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    EventId:
      name: event_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    EndpointKey:
      name: endpoint_key
      in: path
      required: true
      schema:
        type: string
        pattern: "^[A-Za-z0-9]{8}$"
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: true
      description: Repeating a request with the same key within 24 hours returns the first
        result; a different body with the same key is refused.
      schema:
        type: string
        minLength: 8
        maxLength: 255
        pattern: "^[!-~]+$"
    HistoryHookFilter:
      name: hook_id
      in: query
      description: Only this hook's requests.
      schema:
        type: string
        format: uuid
    HistoryLimit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 10000
        default: 100
    HistoryCursor:
      name: cursor
      in: query
      schema:
        type: string
        minLength: 1
        maxLength: 2048
  responses:
    BadRequest:
      description: Required HTTP syntax, headers, or JSON are malformed.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    EventPageOk:
      description: Verified requests, newest first, at most 10,000 per page.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/EventPage"
    BlockedPageOk:
      description: Withheld requests, newest first, at most 10,000 per page.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/BlockedRequestPage"
    Unauthorized:
      description: |
        The access token is missing or not accepted. `error.code` says why:
        `unauthenticated`, `token_malformed`, `token_bad_signature`, `token_unknown_key`,
        `token_expired`, `token_wrong_audience`, `token_wrong_issuer`, `token_missing_claim`,
        `token_invalid`,
        `session_ended` (signed out or access removed in Silicon Accounts) or
        `account_deleted`.
      headers:
        WWW-Authenticate:
          schema:
            type: string
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    Forbidden:
      description: The caller has no access to the Silicon (`no_access`), its access does
        not allow this (`forbidden`), or the grantee Silicon has not allowed the sharer
        (`silicon_not_reachable`).
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    Blocked:
      description: The client address is blocked for this endpoint (ip_blocked). The block
        carries Retry-After.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    NotFound:
      description: The resource does not exist or is not visible (`not_found`,
        `silicon_not_found`, `not_a_silicon`, `account_not_found`, `grant_not_found`,
        `not_allowed`).
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    Conflict:
      description: Idempotency or resource-state conflict, or the account already has
        full access (`already_has_access`).
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    Gone:
      description: A recovery window expired, or the account was deleted in Silicon
        Accounts (`account_deleted`).
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    RequestTimeout:
      description: Request processing exceeded the service deadline.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    PayloadTooLarge:
      description: The body exceeds 1 MiB or the headers exceed 64 KiB.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    UnsupportedMediaType:
      description: The endpoint requires application/json.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    UnprocessableEntity:
      description: The request violates input rules; `details` may explain why.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    InternalError:
      description: An unexpected internal failure occurred.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    BadGateway:
      description: Silicon Accounts or Ting refused Hook's request (`accounts_refused`,
        `ting_rejected`).
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    ServiceUnavailable:
      description: A required dependency cannot answer; retry shortly. `accounts_unavailable`
        when Silicon Accounts did not answer (confirming a sign-in, looking an account up),
        `proof_unavailable` when it could not issue a proof for Ting, `provider_unavailable`
        for the database.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    DeliveryDisabled:
      description: Delivery through Ting is off on this Hook (`delivery_disabled`); events
        are still received, verified and stored.
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
    RateLimited:
      description: The upstream operation was rate limited. Retry after the given seconds.
      headers:
        Retry-After:
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/Error"
  schemas:
    Health:
      type: object
      additionalProperties: false
      required: [status]
      properties:
        status:
          const: ok
    Readiness:
      type: object
      additionalProperties: false
      required: [status, delivery]
      properties:
        status:
          const: ready
        delivery:
          type: object
          additionalProperties: false
          required: [ting]
          properties:
            ting:
              type: string
              enum: [enabled, disabled]
            detail:
              type: string
              description: Present when delivery is off; says why.
    VersionInfo:
      type: object
      additionalProperties: false
      required: [service, version]
      properties:
        service:
          const: silicon-hook
        version:
          type: string
    AccountUuid:
      type: string
      pattern: "^([A-Za-z0-9]{1,64}|[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})$"
      description: Permanent 128-bit Silicon Accounts UUID in canonical lowercase hyphenated form. Legacy short IDs are accepted only during the coordinated migration.
      example: 550e8400-e29b-41d4-a716-446655440000
    PublicId:
      type: string
      pattern: "^(c|si):[!-~]+$"
      maxLength: 255
      description: Current public id of a Carbon (`c:`) or Silicon (`si:`). It can change.
      example: si:cos
    Silicon:
      type: object
      additionalProperties: false
      required: [uuid, id]
      properties:
        uuid:
          "$ref": "#/components/schemas/AccountUuid"
        id:
          oneOf:
          - "$ref": "#/components/schemas/PublicId"
          - type: "null"
    Account:
      type: object
      additionalProperties: false
      required: [uuid, kind, id]
      description: An account. `uuid` is null only for attribution recorded before Silicon
        Accounts that was never linked; `id` is then the id stored at the time.
      properties:
        uuid:
          oneOf:
          - "$ref": "#/components/schemas/AccountUuid"
          - type: "null"
        kind:
          type: string
          enum: [carbon, silicon]
        id:
          type:
          - string
          - "null"
    Access:
      type: string
      enum: [self, custodian, manage, view]
      description: "`self`: the Silicon itself. `custodian`: its custodian. `manage` and
        `view`: a grant."
    SiliconList:
      type: object
      additionalProperties: false
      required: [items]
      properties:
        items:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [silicon, access, custodian]
            properties:
              silicon:
                "$ref": "#/components/schemas/Silicon"
              access:
                "$ref": "#/components/schemas/Access"
              custodian:
                oneOf:
                - "$ref": "#/components/schemas/AccountUuid"
                - type: "null"
    Grant:
      type: object
      additionalProperties: false
      required: [account, level, granted_by, created_at, updated_at]
      properties:
        account:
          "$ref": "#/components/schemas/Account"
        level:
          type: string
          enum: [view, manage]
        granted_by:
          "$ref": "#/components/schemas/Account"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    GrantRequest:
      type: object
      additionalProperties: false
      required: [level]
      properties:
        level:
          type: string
          enum: [view, manage]
          description: "`view` reads hooks, events, blocked requests and publication status;
            `manage` also creates and changes hooks."
    GrantResult:
      type: object
      additionalProperties: false
      required: [silicon, grant]
      properties:
        silicon:
          "$ref": "#/components/schemas/Silicon"
        grant:
          "$ref": "#/components/schemas/Grant"
    AccessSummary:
      type: object
      additionalProperties: false
      required: [silicon, you, custodian, grants]
      properties:
        silicon:
          "$ref": "#/components/schemas/Silicon"
        you:
          type: object
          additionalProperties: false
          required: [account, access]
          properties:
            account:
              "$ref": "#/components/schemas/Account"
            access:
              "$ref": "#/components/schemas/Access"
        custodian:
          oneOf:
          - "$ref": "#/components/schemas/Account"
          - type: "null"
        grants:
          type: array
          items:
            "$ref": "#/components/schemas/Grant"
    AllowEntry:
      type: object
      additionalProperties: false
      required: [account, added_by, created_at]
      properties:
        account:
          "$ref": "#/components/schemas/Account"
        added_by:
          "$ref": "#/components/schemas/AccountUuid"
        created_at:
          type:
          - string
          - "null"
          format: date-time
    AllowList:
      type: object
      additionalProperties: false
      required: [silicon, items]
      properties:
        silicon:
          "$ref": "#/components/schemas/Silicon"
        items:
          type: array
          items:
            "$ref": "#/components/schemas/AllowEntry"
    AccountsHookConnection:
      type: object
      additionalProperties: false
      required: [hook, next_steps]
      properties:
        hook:
          "$ref": "#/components/schemas/Hook"
        next_steps:
          type: object
          additionalProperties: false
          required: [set_webhook, store_secret, explanation]
          properties:
            set_webhook:
              type: string
              description: The Silicon Accounts command that points the Silicon's webhook at this hook.
              example: silicon-accounts silicon webhook set si:cos https://backend.hook.teamofsilicons.com/silicon/si:cos/A1B2C3D4
            store_secret:
              type: string
            explanation:
              type: string
    SignInInformation:
      type: object
      additionalProperties: false
      required: [app_id, accounts_url, token, sign_in, delivery]
      properties:
        app_id:
          type: string
          example: hook
        accounts_url:
          type: string
          format: uri
        token:
          type: object
          additionalProperties: false
          required: [type, format, audience, issuer, jwks_url]
          properties:
            type:
              const: Bearer
            format:
              type: string
            audience:
              type: string
            issuer:
              type: string
              format: uri
            jwks_url:
              type: string
              format: uri
        sign_in:
          type: object
          additionalProperties: false
          required: [carbons, silicons]
          properties:
            carbons:
              type: string
            silicons:
              type: string
        delivery:
          type: string
          enum: [ting, disabled]
    AuthStatus:
      type: object
      additionalProperties: false
      required: [authenticated, app_id, uuid, id, kind]
      properties:
        authenticated:
          const: true
        app_id:
          type: string
        uuid:
          "$ref": "#/components/schemas/AccountUuid"
        id:
          oneOf:
          - "$ref": "#/components/schemas/PublicId"
          - type: "null"
        kind:
          type: string
          enum: [carbon, silicon]
    DeliveryStatus:
      oneOf:
      - type: object
        additionalProperties: false
        required: [enabled, transport]
        properties:
          enabled:
            const: true
          transport:
            const: ting
      - type: object
        additionalProperties: false
        required: [enabled, reason]
        properties:
          enabled:
            const: false
          reason:
            type: string
    TingRecipient:
      type: object
      additionalProperties: false
      required: [uuid]
      properties:
        uuid:
          "$ref": "#/components/schemas/AccountUuid"
        id:
          "$ref": "#/components/schemas/PublicId"
    RecipientEnrolment:
      type: object
      additionalProperties: false
      required: [recipient, ting_subscription_id, required_delivery]
      properties:
        recipient:
          "$ref": "#/components/schemas/TingRecipient"
        ting_subscription_id:
          type: string
        required_delivery:
          type: boolean
          description: Whether the recipient opted in to required (automation) delivery at Ting.
    ObserverSubscription:
      type: object
      additionalProperties: false
      required: [id, silicon_uuid, recipient_uuid, created_at]
      properties:
        id:
          type: string
          format: uuid
        silicon_uuid:
          "$ref": "#/components/schemas/AccountUuid"
        recipient_uuid:
          "$ref": "#/components/schemas/AccountUuid"
        created_at:
          type: string
          format: date-time
          description: Events accepted before this instant are never sent to the observer.
    ObserverSubscriptionStatus:
      type: object
      additionalProperties: false
      required: [receiving, subscription]
      properties:
        receiving:
          type: boolean
          description: True when subscribed and delivery through Ting is on.
        subscription:
          oneOf:
          - "$ref": "#/components/schemas/ObserverSubscription"
          - type: "null"
    PublicationNotQueued:
      type: object
      additionalProperties: false
      required: [event_id, state, detail]
      properties:
        event_id:
          type: string
          format: uuid
        state:
          type: string
          enum: [delivery_disabled, not_queued]
          description: "`delivery_disabled`: this Hook does not deliver through Ting.
            `not_queued`: received while delivery was off, or before the Silicon was
            linked to its Silicon Accounts account."
        detail:
          type: string
    PublicationStatus:
      type: object
      additionalProperties: false
      required: [event_id, recipient, state, delivery, silent, attempts, ting_id, last_error_code,
        accepted_at, next_attempt_at, expires_at, recipient_receipt, recipient_status_error]
      properties:
        event_id:
          type: string
          format: uuid
        recipient:
          "$ref": "#/components/schemas/AccountUuid"
        state:
          type: string
          enum: [pending, accepted_by_ting, accepted_silently, not_delivered_legacy]
          description: A verified Ting acceptance is separate from any destination receipt.
            `not_delivered_legacy` marks a send queued before Silicon Accounts that was
            never accepted; it is kept as a record and not retried.
        delivery:
          type: string
          enum: [ordinary, required]
        silent:
          type:
          - boolean
          - "null"
          description: Ting notification preference at acceptance; null until accepted.
        attempts:
          type: integer
          format: int64
          minimum: 0
        ting_id:
          type:
          - string
          - "null"
        last_error_code:
          type:
          - string
          - "null"
          description: Safe bounded publication diagnostic; never upstream bodies or credentials.
          enum:
          - null
          - consent_required
          - recipient_not_registered
          - required_delivery_not_enabled
          - transport_unavailable
          - rate_limited
          - ting_unavailable
          - request_rejected
          - invalid_response
          - ting_unauthorized
          - type_not_registered
          - idempotency_conflict
          - proof_unavailable
          - legacy_identity
        accepted_at:
          type:
          - string
          - "null"
          format: date-time
        next_attempt_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        recipient_receipt:
          oneOf:
          - "$ref": "#/components/schemas/TingReceipt"
          - type: "null"
        recipient_status_error:
          type:
          - string
          - "null"
          enum:
          - null
          - recipient_status_unavailable
    EventReference:
      type: object
      additionalProperties: false
      required: [id, silicon, hook_id, delivery_sequence, received_at, summary]
      description: Immutable reference delivered inside Ting. Contains no captured provider
        body, headers or signing secret. Fetching the event requires current access.
      properties:
        id:
          type: string
          format: uuid
        silicon:
          type: object
          additionalProperties: false
          required: [uuid]
          properties:
            uuid:
              "$ref": "#/components/schemas/AccountUuid"
            id:
              "$ref": "#/components/schemas/PublicId"
        hook_id:
          type: string
          format: uuid
        delivery_sequence:
          type: integer
          format: int64
          minimum: 1
          description: Hook stream sequence; arrival order is not implied.
        received_at:
          type: string
          format: date-time
        summary:
          type: string
          example: stripe triggered at 10:00:00 22-09-2026 UTC
    AccountsWebhookEvent:
      type: object
      required: [event_id, type, data]
      properties:
        event_id:
          type: string
          description: Unique per event; retries and replays reuse it.
        type:
          type: string
          example: account.id_changed
        occurred_at:
          type: string
          format: date-time
        app_id:
          type: string
        data:
          type: object
    ContractStatus:
      type: object
      additionalProperties: false
      required: [api_version, status, deprecated_at, sunset_at, delivery_transport]
      properties:
        api_version:
          type: string
          enum: [v3, v2, v1]
        status:
          type: string
          enum: [active, deprecated, sunset]
        deprecated_at:
          type:
          - integer
          - "null"
          format: int64
          description: Unix timestamp in seconds.
        sunset_at:
          type:
          - integer
          - "null"
          format: int64
          description: Unix timestamp in seconds.
        delivery_transport:
          const: ting
    ContractCatalog:
      type: object
      additionalProperties: false
      required: [service, contracts, policy, compatibility_matrix]
      properties:
        service:
          const: silicon-hook
        contracts:
          type: array
          maxItems: 3
          items:
            "$ref": "#/components/schemas/ContractStatus"
        policy:
          type: object
          additionalProperties: false
          required: [breaking_changes, sunset_after_idle_days, sunset_requires_deprecation]
          properties:
            breaking_changes:
              const: new_major
            sunset_after_idle_days:
              const: 7
            sunset_requires_deprecation:
              const: true
        compatibility_matrix:
          type: string
          format: uri
    TelemetryEvent:
      type: object
      additionalProperties: false
      required: [event_id, trace_id, source, step, outcome, version]
      properties:
        event_id: {type: string, format: uuid}
        trace_id: {type: string, format: uuid}
        source: {type: string, enum: [cli, daemon, client, web]}
        step: {type: string, enum: [command, connect, subscribe, deliver, ack, refresh, update, page_view, interaction, error]}
        outcome: {type: string, enum: [started, succeeded, failed, retrying, skipped]}
        version: {type: string, minLength: 1, maxLength: 32, pattern: '^[0-9.]+$'}
        operation:
          type: string
          enum: [login, logout, whoami, refresh, webhook, unhook, hooks, events, blocked, deliveries, env, config, daemon, docs, commands, system, report, about, overview, live, testing, connections, relay, create, set-secret, list, show, update, delete, restore, enable, disable, rotate, listen, accounts, silicons, access, allow-list, connect-accounts, event, publication, receiving]
        duration_ms: {type: integer, minimum: 0}
        progress: {type: integer, minimum: 0, maximum: 4294967295}
        status: {type: integer, minimum: 0, maximum: 65535}
        os: {type: string, enum: [linux, macos, windows, freebsd, openbsd, netbsd, android, ios, unknown]}
        arch: {type: string, enum: [x86_64, aarch64, x86, arm, riscv64, wasm32, unknown]}
    HookStatus:
      type: string
      description: Disabled is reversible and retained; deleted is the separate 45-day
        recovery lifecycle.
      enum:
      - active
      - disabled
      - deleted
    SignatureAlgorithm:
      type: string
      enum:
      - HMAC-SHA1
      - HMAC-SHA256
      - HMAC-SHA384
      - HMAC-SHA512
      - SHA1
      - SHA256
      - SHA384
      - SHA512
      - Ed25519
      - ECDSA-SHA256
      - RSA-SHA1
      - RSA-SHA256
    SignatureEncoding:
      type: string
      enum:
      - hex
      - base64
      - base64url
      - raw
    SecretEncoding:
      type: string
      enum:
      - utf8
      - ascii
      - hex
      - base64
      - base64url
      - raw
    SignatureExpression:
      type: string
      minLength: 1
      maxLength: 4096
      description: An expression over request blocks (`request.raw_body`, `request.headers["name"]`,
        `request.query.key`, `request.body.path`, `request.form.key`, `request.multipart.key`,
        `request.method`, `request.url`, ...), `hook.id`, `hook.url`, `secret`, and
        `key.public`, combined with concat, join, sort, sort_keys, utf8, ascii, url_encode,
        url_decode, percent_encode, percent_decode, canonicalize_url, canonicalize_query,
        json_encode, form_encode, sha1, sha256, sha384, sha512, hex, hex_decode, base64,
        base64_decode, base64url, base64url_decode, lowercase, uppercase, and trim.
    SignaturePolicy:
      type: object
      additionalProperties: false
      required:
      - required
      - algorithm
      - payload
      - signature
      - signature_encoding
      - secret_encoding
      - public_key
      - has_secret
      properties:
        required:
          type: boolean
        algorithm:
          "$ref": "#/components/schemas/SignatureAlgorithm"
        payload:
          "$ref": "#/components/schemas/SignatureExpression"
        signature:
          "$ref": "#/components/schemas/SignatureExpression"
        signature_encoding:
          "$ref": "#/components/schemas/SignatureEncoding"
        secret_encoding:
          "$ref": "#/components/schemas/SecretEncoding"
        public_key:
          type:
          - string
          - 'null'
          maxLength: 16384
        has_secret:
          type: boolean
    SignaturePolicyInput:
      type: object
      additionalProperties: false
      description: 'Every member is optional. Defaults are the Standard Webhooks convention:
        required, HMAC-SHA256, concat(request.headers["webhook-id"], ".", request.headers["webhook-timestamp"],
        ".", request.raw_body), request.headers["webhook-signature"], base64, utf8.
        BYOS secrets are stored verbatim on creation and replace the current secret on
        update. Omitting secret generates one on creation and keeps the current
        secret on update. Generated and rotated secrets respect secret_encoding.'
      properties:
        required:
          type: boolean
        algorithm:
          "$ref": "#/components/schemas/SignatureAlgorithm"
        payload:
          "$ref": "#/components/schemas/SignatureExpression"
        signature:
          "$ref": "#/components/schemas/SignatureExpression"
        signature_encoding:
          "$ref": "#/components/schemas/SignatureEncoding"
        secret_encoding:
          "$ref": "#/components/schemas/SecretEncoding"
        public_key:
          type:
          - string
          - 'null'
          maxLength: 16384
        secret:
          type: string
          minLength: 1
          maxLength: 4096
          writeOnly: true
          description: BYOS secret text (1-4096 UTF-8 bytes, no control characters).
            Set at creation or replace after registration. Must decode to nonempty
            key bytes with secret_encoding. Not accepted for asymmetric algorithms.
            Never echoed after the creation response.
    HookBase:
      type: object
      required:
      - id
      - silicon
      - name
      - endpoint_url
      - endpoint_key
      - status
      - signature
      - time_zone
      - created_by
      - created_at
      properties:
        id:
          type: string
          format: uuid
        silicon:
          "$ref": "#/components/schemas/Silicon"
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 2000
        endpoint_url:
          type: string
          format: uri
          description: The URL to give the provider. It names the Silicon by its current id
            (or its uuid when no id is known); earlier ids and the uuid keep routing.
        endpoint_key:
          type: string
          pattern: "^[A-Z0-9]{8}$"
        status:
          "$ref": "#/components/schemas/HookStatus"
        signature:
          "$ref": "#/components/schemas/SignaturePolicy"
        time_zone:
          type: string
          maxLength: 64
          description: IANA zone used in delivery summaries.
        created_by:
          "$ref": "#/components/schemas/Account"
        created_at:
          type: string
          format: date-time
        disabled_at:
          type:
          - string
          - 'null'
          format: date-time
        deleted_at:
          type:
          - string
          - 'null'
          format: date-time
        recoverable_until:
          type:
          - string
          - 'null'
          format: date-time
        last_received_at:
          type:
          - string
          - 'null'
          format: date-time
          description: When the provider last reached out with a verified request.
        last_blocked_at:
          type:
          - string
          - 'null'
          format: date-time
        endpoint_rotated_at:
          type:
          - string
          - 'null'
          format: date-time
    Hook:
      type: object
      allOf:
      - "$ref": "#/components/schemas/HookBase"
      unevaluatedProperties: false
    HookWithSecret:
      type: object
      allOf:
      - "$ref": "#/components/schemas/HookBase"
      required:
      - signing_secret
      properties:
        signing_secret:
          type:
          - string
          - 'null'
          description: Generated secrets are `v1.` followed by 32 alphanumeric characters;
            a supplied secret is echoed as given. Null for asymmetric algorithms.
      unevaluatedProperties: false
    HookCreate:
      type: object
      additionalProperties: false
      required:
      - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 2000
        time_zone:
          type: string
          maxLength: 64
          default: UTC
        signature:
          "$ref": "#/components/schemas/SignaturePolicyInput"
    HookUpdate:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        description:
          type:
          - string
          - 'null'
          maxLength: 2000
        time_zone:
          type: string
          maxLength: 64
        enabled:
          type: boolean
        signature:
          "$ref": "#/components/schemas/SignaturePolicyInput"
    HooksEnabledUpdate:
      type: object
      additionalProperties: false
      required:
      - hook_ids
      - enabled
      properties:
        hook_ids:
          type: array
          minItems: 1
          maxItems: 1000
          uniqueItems: true
          items:
            type: string
            format: uuid
        enabled:
          type: boolean
    HookPage:
      type: object
      additionalProperties: false
      required:
      - items
      properties:
        items:
          type: array
          maxItems: 1000
          items:
            "$ref": "#/components/schemas/Hook"
    SigningSecretResponse:
      type: object
      additionalProperties: false
      required:
      - signing_secret
      properties:
        signing_secret:
          type: string
          pattern: "^v1\\.[A-Za-z0-9]{32}$"
    CapturedRequest:
      type: object
      additionalProperties: false
      required:
      - method
      - url
      - path
      - query_string
      - headers
      - content_type
      - body
      - body_base64
      - remote_ip
      properties:
        method:
          type: string
        url:
          type: string
          format: uri
        path:
          type: string
        query_string:
          type: string
        headers:
          type: array
          description: Header fields in wire order with lowercase names.
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              type: string
        content_type:
          type:
          - string
          - 'null'
        body:
          type:
          - string
          - 'null'
          description: Body text when it is UTF-8.
        body_base64:
          type:
          - string
          - 'null'
          description: Standard base64 of a non-UTF-8 body.
        remote_ip:
          type: string
    Event:
      type: object
      additionalProperties: false
      required:
      - id
      - silicon
      - hook_id
      - provider
      - delivery_sequence
      - received_at
      - summary
      - request
      properties:
        id:
          type: string
          format: uuid
        silicon:
          "$ref": "#/components/schemas/Silicon"
        hook_id:
          type: string
          format: uuid
        provider:
          type: string
          description: Hook name at receipt.
        delivery_sequence:
          type: integer
          format: int64
          minimum: 1
        received_at:
          type: string
          format: date-time
        summary:
          type: string
          description: Provider and receipt time in the hook's IANA timezone, formatted as `{provider} triggered at HH:MM:SS DD-MM-YYYY IANA_ZONE_ID`.
          example: stripe triggered at 10:00:00 22-09-2026 UTC
        request:
          "$ref": "#/components/schemas/CapturedRequest"
    EventPage:
      type: object
      additionalProperties: false
      description: The item limit is a ceiling; a 16 MiB page budget may produce a
        shorter page with a continuation cursor.
      required:
      - items
      - next_cursor
      properties:
        items:
          type: array
          maxItems: 10000
          items:
            "$ref": "#/components/schemas/Event"
        next_cursor:
          type:
          - string
          - 'null'
    BlockedRequest:
      type: object
      additionalProperties: false
      required:
      - id
      - silicon
      - hook_id
      - provider
      - reason_code
      - reason_detail
      - received_at
      - request
      properties:
        id:
          type: string
          format: uuid
        silicon:
          "$ref": "#/components/schemas/Silicon"
        hook_id:
          type: string
          format: uuid
        provider:
          type: string
        reason_code:
          type: string
          enum:
          - payload_unavailable
          - signature_unavailable
          - signature_missing
          - signature_not_text
          - signature_too_large
          - signature_mismatch
          - secret_missing
          - public_key_missing
          - material_unavailable
        reason_detail:
          type: string
          maxLength: 500
        received_at:
          type: string
          format: date-time
        request:
          "$ref": "#/components/schemas/CapturedRequest"
    BlockedRequestPage:
      type: object
      additionalProperties: false
      required:
      - items
      - next_cursor
      properties:
        items:
          type: array
          maxItems: 10000
          items:
            "$ref": "#/components/schemas/BlockedRequest"
        next_cursor:
          type:
          - string
          - 'null'
    Receipt:
      type: object
      additionalProperties: false
      required:
      - status
      - receipt_id
      properties:
        status:
          const: webhook.ok
        receipt_id:
          type: string
          format: uuid
    ApiVersionNegotiation:
      type: object
      required:
      - service
      - selected_api_version
      - supported_api_versions
      - build
      - commit
      properties:
        service:
          type: string
          const: silicon-hook
        selected_api_version:
          type: string
          pattern: "^v[1-9][0-9]*$"
        supported_api_versions:
          type: array
          minItems: 1
          maxItems: 16
          items:
            type: string
            pattern: "^v[1-9][0-9]*$"
          description: Highest first.
        build:
          type: string
        commit:
          type: string
    Error:
      type: object
      additionalProperties: false
      required:
      - error
      properties:
        error:
          type: object
          additionalProperties: false
          required:
          - code
          - message
          - request_id
          properties:
            code:
              type: string
            message:
              type: string
            request_id:
              type: string
            details:
              type: string
    TingDestinationReceipt:
      type: "object"
      additionalProperties: false
      required:
        - "webhook_id"
        - "delivery_acked"
        - "read_acked"
      properties:
        webhook_id:
          type: "string"
        delivery_acked:
          type: "boolean"
          description: "Ting daemon durably received the notification."
        read_acked:
          type: "boolean"
          description: "The local destination accepted the notification; does not mean completed recipient work."
    TingReceipt:
      type: "object"
      additionalProperties: false
      required:
        - "id"
        - "read"
        - "silent"
        - "delivery"
        - "deliveries"
        - "more_destinations"
      properties:
        id:
          type: "string"
        read:
          type: "boolean"
          description: "At least one destination accepted the event, or a Carbon viewed it. This is not a completion receipt."
        silent:
          type: "boolean"
          description: "Recipient notification preference; required delivery still routes silently."
        delivery:
          type: string
          enum: [ordinary, required]
        deliveries:
          type: "array"
          items:
            "$ref": "#/components/schemas/TingDestinationReceipt"
        more_destinations:
          type: "boolean"
          description: "Only the first destination page is returned; true means this list is incomplete."
    TingHookEvent:
      type: "object"
      additionalProperties: false
      required:
        - "type"
        - "data"
      properties:
        type:
          type: "string"
          const: "new_event"
        data:
          type: "object"
          additionalProperties: false
          required:
            - "sender"
            - "metadata"
          properties:
            sender:
              type: "string"
              description: "Provider hook name at receipt."
            metadata:
              "$ref": "#/components/schemas/EventReference"
