---
openapi: 3.1.0
info:
  title: Silicon Hook API
  version: 0.7.0
  summary: Signed webhook endpoints with durable Ting publication and authorized event history.
  description: |
    Silicon Hook gives each Silicon signed webhook endpoints at
    `https://hook.teamofsilicons.com/silicon/{silicon_id}/{endpoint_key}`.
    Every request to an active endpoint is answered with `webhook.ok`. Requests
    that verify against the hook's signature policy are retained for 14 days
    and atomically queued for Ting publication. API v2 uses Ting to deliver a
    compact event reference; the authorized recipient hydrates the original
    request from Hook. Ting arrival order is not guaranteed. Deprecated API v1
    retains its WebSocket, polling and acknowledged-cursor transport until sunset.
    Requests that do not verify are withheld and kept in a separate 14-day blocked log. Timestamps
    are UTC RFC 3339 values. Endpoint keys route requests but never
    authenticate them. IAM test app_secret selectors choose isolated sandboxes via
    X-Hook-Test-App-Secret; they never grant actor authority. The v2 migration
    marks v1 deprecated; its contract sunsets only after seven request-free days.
    All versioned requests may pin their route's major using
    Silicon-Hook-API-Version. Ting acceptance, daemon receipt and recipient
    acceptance are separate states; none proves completed recipient work. Contract accounting is
    independent of optional diagnostic telemetry.
  contact:
    email: engineering@teamofsilicons.com
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary
servers:
- url: https://backend.hook.teamofsilicons.com
  description: Backend API; public ingress may use the configured Hook frontend origin.
security:
- bearerAuth: []
tags:
- name: System
  description: Process health and build information.
- name: Hooks
  description: Webhook endpoint lifecycle and signature policy.
- name: Ingress
  description: Public provider endpoints.
- name: History
  description: Retained verified and blocked request logs.
- name: Deliveries
  description: Deprecated v1 ordered, acknowledged delivery streams.
- name: Ting
  description: Dedicated publication identity, recipient grants, receiving interests and delivery status.
- name: Auth
  description: Carbon and Silicon short-lived-token login through IAM.
- name: IAM
  description: Silicon IAM connection and event receipt.
- name: Testing
  description: Organization-owned sandboxes bound exclusively to IAM testing environments.
x-ting-notification:
  description: "Hook publishes this schema in the data field of Ting type <Hook app_id>.webhook.received. The outer Ting transport envelope is owned by Ting."
  dataSchema:
    "$ref": "#/components/schemas/TingHookEvent"
paths:
  "/healthz":
    get:
      tags:
      - System
      operationId: getLiveness
      summary: Check process liveness
      security: []
      responses:
        '200':
          "$ref": "#/components/responses/HealthOk"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/readyz":
    get:
      tags:
      - System
      operationId: getReadiness
      summary: Check database and schema readiness
      description: Verifies the exact embedded migration set and checksums, the required
        PostgreSQL columns, constraints, indexes, and triggers, and the API role's
        least-privilege grants.
      security: []
      responses:
        '200':
          "$ref": "#/components/responses/HealthOk"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/version":
    get:
      tags:
      - System
      operationId: negotiateApiVersion
      summary: Negotiate the API major with a client
      description: Unversioned handshake. The client advertises the majors it implements
        in `Silicon-Hook-Supported-API-Versions`; Hook answers with the highest shared
        major in the body and in `Silicon-Hook-API-Version`, and varies the response
        on the advertised list. Every versioned request may then pin that major in
        `Silicon-Hook-API-Version`; a pin that disagrees with the route is refused
        with `400 api_version_mismatch`.
      security: []
      parameters:
      - name: Silicon-Hook-Supported-API-Versions
        in: header
        required: false
        description: Comma-separated majors the client implements, such as `v2,v1`.
        schema:
          type: string
          maxLength: 128
      responses:
        '200':
          description: The shared major.
          headers:
            Silicon-Hook-API-Version:
              schema:
                type: string
                enum:
                - v2
                - v1
            Vary:
              schema:
                type: string
                const: Silicon-Hook-Supported-API-Versions
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/ApiVersionNegotiation"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '406':
          description: No shared major (code api_version_unsupported); details list
            Hook's majors.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Error"
        '500':
          "$ref": "#/components/responses/InternalError"
  "/api/v1/version":
    get:
      deprecated: true
      tags:
      - System
      operationId: getVersion
      summary: Read the running service version
      security: []
      responses:
        '200':
          description: Running service and contract version.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VersionInfo"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '500':
          "$ref": "#/components/responses/InternalError"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/silicons/{silicon_id}/hooks":
    get:
      deprecated: true
      tags:
      - Hooks
      operationId: listHooks
      summary: List a Silicon's hooks with their URLs and last activity
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - name: include_deleted
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Active and disabled hooks visible to the actor, plus recoverable
            deleted hooks when include_deleted is true. Each item carries its name,
            endpoint URL, and last_received_at.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HookPage"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    post:
      deprecated: true
      tags:
      - Hooks
      operationId: createHook
      summary: Create a signed webhook endpoint
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/HookCreate"
      responses:
        '201':
          description: Hook created; the signing secret is shown once.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HookWithSecret"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '410':
          "$ref": "#/components/responses/Gone"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    patch:
      deprecated: true
      tags:
      - Hooks
      operationId: setHooksEnabled
      summary: Enable or disable a set of hooks atomically
      description: Applies the desired enabled state to 1–1000 unique retained hooks.
        The operation is atomic and intrinsically idempotent; returned items follow
        the request hook_ids order.
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/HooksEnabledUpdate"
      responses:
        '200':
          description: All requested hooks now have the requested enabled state.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HookPage"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/silicons/{silicon_id}/hooks/{hook_id}":
    parameters:
    - "$ref": "#/components/parameters/OrgId"
    - "$ref": "#/components/parameters/SiliconId"
    - "$ref": "#/components/parameters/HookId"
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
    get:
      deprecated: true
      tags:
      - Hooks
      operationId: getHook
      summary: Read one hook
      responses:
        '200':
          description: Hook metadata and signature policy without secret material.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Hook"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    patch:
      deprecated: true
      tags:
      - Hooks
      operationId: updateHook
      summary: Change name, description, time zone, activation, or signature policy
      description: 'Every member is optional. `enabled` applies the dedicated activation
        action; any other member is an update. Signature members merge onto the current
        policy; `"public_key": null` clears the key. Supplying `secret` replaces the
        stored secret. Requiring signatures on a symmetric algorithm needs a stored
        or supplied secret.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/HookUpdate"
      responses:
        '200':
          description: Hook after the change.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Hook"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    delete:
      deprecated: true
      tags:
      - Hooks
      operationId: deleteHook
      summary: Soft-delete a hook
      responses:
        '204':
          description: Hook soft-deleted and retained for 45 days.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v1/silicons/{silicon_id}/hooks/{hook_id}/restore":
    post:
      deprecated: true
      tags:
      - Hooks
      operationId: restoreHook
      summary: Restore a recoverable hook
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - "$ref": "#/components/parameters/HookId"
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: Hook restored with its existing endpoint and secret.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Hook"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '410':
          "$ref": "#/components/responses/Gone"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/silicons/{silicon_id}/hooks/{hook_id}/secret/rotate":
    post:
      deprecated: true
      tags:
      - Hooks
      operationId: rotateHookSecret
      summary: Issue a new generated signing secret
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - "$ref": "#/components/parameters/HookId"
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: New secret shown once; the old secret is invalid immediately.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SigningSecretResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '410':
          "$ref": "#/components/responses/Gone"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/silicons/{silicon_id}/hooks/{hook_id}/endpoint/rotate":
    post:
      deprecated: true
      tags:
      - Hooks
      operationId: rotateHookEndpoint
      summary: Replace the endpoint key and retire the old one forever
      description: 'Allocates a new eight-character alphanumeric key that has never
        been used for this Silicon. The previous key is retired permanently: it is
        never reissued for the Silicon and requests to it receive 410 endpoint_retired.'
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - "$ref": "#/components/parameters/HookId"
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: Hook with its new endpoint URL and key.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Hook"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/silicons/{silicon_id}/hooks/{hook_id}/events":
    get:
      deprecated: true
      tags:
      - History
      operationId: listHookEvents
      summary: List the last n verified requests for one hook
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - "$ref": "#/components/parameters/HookId"
      - "$ref": "#/components/parameters/HistoryLimit"
      - "$ref": "#/components/parameters/HistoryCursor"
      responses:
        '200':
          "$ref": "#/components/responses/EventPageOk"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/silicons/{silicon_id}/events":
    get:
      deprecated: true
      tags:
      - History
      operationId: listSiliconEvents
      summary: List the last n verified requests across all of a Silicon's hooks
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - name: hook_id
        in: query
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/HistoryLimit"
      - "$ref": "#/components/parameters/HistoryCursor"
      responses:
        '200':
          "$ref": "#/components/responses/EventPageOk"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/silicons/{silicon_id}/hooks/{hook_id}/blocked-requests":
    get:
      deprecated: true
      tags:
      - History
      operationId: listHookBlockedRequests
      summary: List withheld requests for one hook
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - "$ref": "#/components/parameters/HookId"
      - "$ref": "#/components/parameters/HistoryLimit"
      - "$ref": "#/components/parameters/HistoryCursor"
      responses:
        '200':
          "$ref": "#/components/responses/BlockedPageOk"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/silicons/{silicon_id}/blocked-requests":
    get:
      deprecated: true
      tags:
      - History
      operationId: listSiliconBlockedRequests
      summary: List withheld requests across all of a Silicon's hooks
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - name: hook_id
        in: query
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/HistoryLimit"
      - "$ref": "#/components/parameters/HistoryCursor"
      responses:
        '200':
          "$ref": "#/components/responses/BlockedPageOk"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/silicons/{silicon_id}/deliveries":
    get:
      deprecated: true
      tags:
      - Deliveries
      operationId: pullDeliveries
      summary: Pull ordered deliveries after a stream position
      description: Without after_sequence the pull starts after the consumer's acknowledged
        cursor and therefore returns exactly the unacknowledged backlog, oldest first.
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - name: after_sequence
        in: query
        schema:
          type: integer
          format: int64
          minimum: 0
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      responses:
        '200':
          description: Events in ascending sequence order.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeliveryBatch"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/silicons/{silicon_id}/deliveries/ack":
    post:
      deprecated: true
      tags:
      - Deliveries
      operationId: acknowledgeDeliveries
      summary: Acknowledge deliveries through a sequence
      description: Cursors never move backwards; a lower value is a successful no-op.
        A value above the latest allocated stream sequence returns 422 without
        changing the cursor.
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/Acknowledge"
      responses:
        '200':
          description: The consumer's acknowledged position.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeliveryCursor"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/silicons/{silicon_id}/deliveries/cursor":
    get:
      deprecated: true
      tags:
      - Deliveries
      operationId: getDeliveryCursor
      summary: Read the consumer's acknowledged position
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      responses:
        '200':
          description: The consumer's acknowledged position.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/DeliveryCursor"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/ws":
    get:
      deprecated: true
      tags:
      - Deliveries
      operationId: openDeliveryStream
      summary: Open the WebSocket delivery stream
      description: |-
        Authenticate the upgrade request exactly like a management call and name
        the Silicon streams with repeated `silicon_id` query parameters. After
        the `ready` frame the server replays every event after the consumer's
        acknowledged cursor, then streams live events. Frames are JSON text:

        - server `ready`, `ping`, `new_event`, `ack_recorded`, `error`
        - client `pong`, `ack`, `resume`

        The server pings every 30 seconds; two minutes without a matching pong
        closes the socket with code 4000 and reason `heartbeat-timeout`.

        Each hook event has exactly two top-level fields: `type: new_event` and
        `data`. The data object contains `sender` (the hook provider name at
        receipt) and `metadata` (the complete Event schema, including silicon_id,
        delivery_sequence and captured request). This shape also applies
        to replays and client/CLI recipient POSTs. Control frames and REST Event
        objects retain their existing shapes.

        At most 32 outstanding events per Silicon. ACK releases capacity. Environment changes close with 4001 environment-changed; current IAM authorization failure closes with 4003 authorization-changed. Authorization is refreshed every 30 seconds and on cross-replica IAM webhook invalidation; a temporary IAM failure closes with 1013 iam-unavailable.
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - name: silicon_id
        in: query
        required: true
        style: form
        explode: true
        schema:
          type: array
          minItems: 1
          maxItems: 256
          items:
            "$ref": "#/components/schemas/SiliconId"
      responses:
        '101':
          description: Switching to the WebSocket delivery protocol.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '426':
          description: The request is not a WebSocket upgrade.
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/silicon/{silicon_id}/{endpoint_key}":
    parameters:
    - "$ref": "#/components/parameters/SiliconId"
    - "$ref": "#/components/parameters/EndpointKey"
    post:
      tags:
      - Ingress
      operationId: receiveWebhook
      summary: Receive a provider request
      description: Any HTTP method is accepted; POST is documented as the common case.
        The exact method, URL, headers, and body are captured. Signature-required
        hooks verify the request with their policy; unverified requests are still
        receipted with webhook.ok so the response is not a signature oracle, and are
        recorded in the blocked log. Bodies are limited to 1 MiB.
      security: []
      requestBody:
        required: false
        content:
          "*/*":
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: The request was received and receipted.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Receipt"
        '403':
          "$ref": "#/components/responses/Blocked"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '410':
          "$ref": "#/components/responses/Gone"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v1/silicon/{silicon_id}/{endpoint_key}":
    parameters:
    - "$ref": "#/components/parameters/SiliconId"
    - "$ref": "#/components/parameters/EndpointKey"
    post:
      deprecated: true
      tags:
      - Ingress
      operationId: receiveWebhookCompatibility
      summary: Compatibility alias for provider ingress
      security: []
      requestBody:
        required: false
        content:
          "*/*":
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: The request was received and receipted.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Receipt"
        '403':
          "$ref": "#/components/responses/Blocked"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '410':
          "$ref": "#/components/responses/Gone"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v1/auth/iam":
    get:
      deprecated: true
      tags: [Auth]
      operationId: getIamInformation
      summary: Discover the public IAM application configuration
      description: Returns the configured app_id and IAM origin before login. A test
        key selects the test application; production credentials are never a fallback.
        No application secret, token, or environment key is returned.
      security: []
      parameters:
      - "$ref": "#/components/parameters/TestKey"
      - "$ref": "#/components/parameters/TestAppSecret"
      responses:
        '200':
          description: Public application configuration (app_id is null in local auth mode).
          content:
            application/json:
              schema:
                type: object
                required: [app_id, iam_url, testing, login_method]
                properties:
                  app_id:
                    type: [string, 'null']
                  iam_url:
                    type: string
                    format: uri
                  testing:
                    type: boolean
                  login_method:
                    type: string
                    const: short_lived_token
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v1/auth/status":
    get:
      deprecated: true
      tags: [Auth]
      operationId: getLoginStatus
      summary: Verify the current identity online with IAM
      description: Verifies the bearer and current organization membership with IAM.
        Invalid or revoked credentials return 401. Responses are never cached.
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/TestKey"
      - "$ref": "#/components/parameters/TestAppSecret"
      responses:
        '200':
          description: Authenticated Carbon or Silicon in the selected organization.
          content:
            application/json:
              schema:
                type: object
                required: [authenticated, actor, org_id]
                properties:
                  authenticated:
                    type: boolean
                    const: true
                  actor:
                    type: object
                    required: [type, id]
                    properties:
                      type:
                        type: string
                        enum: [carbon, silicon]
                      id:
                        type: string
                  org_id:
                    type: string
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v1/auth/login":
    post:
      deprecated: true
      tags:
      - Auth
      operationId: loginWithSlt
      summary: Exchange a Carbon or Silicon short-lived token
      description: IAM authenticates the actor. Hook exchanges the opaque SLT using
        its application credential and returns an access/refresh pair. Local recipient
        URLs can be configured after login in the client and CLI and are never sent to this endpoint.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LoginRequest"
      responses:
        '200':
          description: Application tokens for the authenticated actor.
          headers:
            Cache-Control:
              schema:
                const: no-store
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Tokens"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/auth/refresh":
    post:
      deprecated: true
      tags:
      - Auth
      operationId: refreshTokens
      summary: Rotate a refresh token into a new token pair
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RefreshRequest"
      responses:
        '200':
          description: New token pair; the presented refresh token is consumed.
          headers:
            Cache-Control:
              schema:
                const: no-store
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Tokens"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/auth/logout":
    post:
      deprecated: true
      tags:
      - Auth
      operationId: logout
      summary: End the IAM session behind a Hook Application token
      responses:
        '204':
          description: Session ended.
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      description: Supply a refresh token as bearer to revoke its whole family, or
        an access token to revoke that token. The body is empty.
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v1/silicons/{silicon_id}/hooks/iam":
    parameters:
    - "$ref": "#/components/parameters/OrgId"
    - "$ref": "#/components/parameters/SiliconId"
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
    post:
      deprecated: true
      tags:
      - IAM
      operationId: connectIamHook
      summary: Connect Silicon IAM events to the Silicon
      description: 'Finds or creates the Silicon''s `Silicon IAM` hook, registers
        its endpoint as the Silicon''s IAM webhook with the caller''s own bearer,
        and stores the `swhs_` secret IAM issues. The hook verifies IAM''s own convention:
        HMAC-SHA-256 over `X-Silicon-IAM-Timestamp.body`, presented as `v1=<hex>`
        in `X-Silicon-IAM-Signature`.'
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: The connected IAM hook.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IamHook"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '410':
          "$ref": "#/components/responses/Gone"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v1/iam/events":
    post:
      deprecated: true
      tags:
      - IAM
      operationId: receiveIamEvent
      summary: Receive Hook's own Application webhook from Silicon IAM
      description: Authenticated by IAM's delivery signature over the exact body,
        not by a bearer. Requires `X-Silicon-IAM-Event-ID`, `X-Silicon-IAM-Timestamp`,
        `X-Silicon-IAM-Key-Version`, and `X-Silicon-IAM-Signature`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '204':
          description: Delivery authenticated and recorded.
        '403':
          "$ref": "#/components/responses/Forbidden"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/test/silicon/{silicon_id}/{endpoint_key}":
    parameters:
    - "$ref": "#/components/parameters/SiliconId"
    - "$ref": "#/components/parameters/EndpointKey"
    post:
      tags:
      - Ingress
      operationId: testReceiveWebhook
      summary: Receive a provider request
      description: Test ingress. The endpoint ledger selects an environment; no root
        key is accepted. Any HTTP method is accepted; POST is documented as the common
        case. The exact method, URL, headers, and body are captured. Signature-required
        hooks verify the request with their policy; unverified requests are still
        receipted with webhook.ok so the response is not a signature oracle, and are
        recorded in the blocked log. Bodies are limited to 1 MiB.
      security: []
      requestBody:
        required: false
        content:
          "*/*":
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: The request was received and receipted.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Receipt"
        '403':
          "$ref": "#/components/responses/Blocked"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '410':
          "$ref": "#/components/responses/Gone"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/webhook/":
    post:
      tags:
      - IAM
      operationId: receiveIamApplicationWebhook
      summary: Receive Hook's own Application webhook from Silicon IAM
      description: Authenticated by IAM's delivery signature over the exact body,
        not by a bearer. Requires `X-Silicon-IAM-Event-ID`, `X-Silicon-IAM-Timestamp`,
        `X-Silicon-IAM-Key-Version`, and `X-Silicon-IAM-Signature`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '204':
          description: Delivery authenticated and recorded.
        '403':
          "$ref": "#/components/responses/Forbidden"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v1/testing-environments":
    post:
      deprecated: true
      tags:
      - Testing
      operationId: createTestingEnvironment
      summary: Create an empty sandbox linked to a real IAM test environment
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EnvironmentWithKey"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateEnvironment"
    get:
      deprecated: true
      tags:
      - Testing
      operationId: listTestingEnvironments
      summary: List this organization’s environments
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - deleted
          - all
          default: active
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - name: after
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EnvironmentList"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v1/testing-environments/{environment_id}":
    parameters:
    - "$ref": "#/components/parameters/EnvironmentId"
    - "$ref": "#/components/parameters/OrgId"
    get:
      deprecated: true
      tags:
      - Testing
      operationId: getTestingEnvironment
      summary: Read environment metadata
      parameters: []
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TestEnvironment"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    delete:
      deprecated: true
      tags:
      - Testing
      operationId: deleteTestingEnvironment
      summary: Soft-delete an environment for 30 days
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TestEnvironment"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v1/testing-environments/{environment_id}/key":
    parameters:
    - "$ref": "#/components/parameters/EnvironmentId"
    - "$ref": "#/components/parameters/OrgId"
    get:
      deprecated: true
      tags:
      - Testing
      operationId: getTestingEnvironmentKey
      summary: Retrieve a root key as creator or org admin/owner
      parameters: []
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EnvironmentWithKey"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v1/testing-environments/{environment_id}/key/rotate":
    parameters:
    - "$ref": "#/components/parameters/EnvironmentId"
    - "$ref": "#/components/parameters/OrgId"
    post:
      deprecated: true
      tags:
      - Testing
      operationId: rotateTestingEnvironmentKey
      summary: Rotate the root key and invalidate old scoped sessions
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EnvironmentWithKey"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v1/testing-environments/{environment_id}/restore":
    parameters:
    - "$ref": "#/components/parameters/EnvironmentId"
    - "$ref": "#/components/parameters/OrgId"
    post:
      deprecated: true
      tags:
      - Testing
      operationId: restoreTestingEnvironment
      summary: Recover a soft-deleted environment within 30 days
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TestEnvironment"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v1/testing-environment":
    get:
      deprecated: true
      tags:
      - Testing
      operationId: currentTestingEnvironment
      summary: Read root metadata using the Hook test key
      parameters:
      - &1
        name: X-Hook-Test-Key
        in: header
        required: true
        description: Selects an isolated Hook environment. The bearer must be from
          its linked IAM test world. Never attach to public ingress.
        schema:
          type: string
          pattern: "^[A-Za-z0-9]{32}$"
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TestEnvironment"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
      security: []
  "/api/v1/testing-environment/clean":
    post:
      deprecated: true
      tags:
      - Testing
      operationId: cleanTestingEnvironment
      summary: Clear all Hook data; retain the environment, IAM binding and URL tombstones
      parameters:
      - *1
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TestEnvironment"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
      security: []
  "/api/v1/testing-environment/iam":
    put:
      deprecated: true
      tags:
      - Testing
      operationId: configureTestingIam
      summary: Install test-only IAM application credentials
      parameters:
      - *1
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TestEnvironment"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TestIamConfiguration"
  /api/v1/testing-session:
    get:
      deprecated: true
      operationId: selectedTestingSession
      summary: Validate an IAM app_secret and inspect its selected sandbox
      tags: [Testing]
      security: []
      parameters:
      - $ref: '#/components/parameters/TestAppSecret'
      responses:
        '200':
          description: Sandbox selected with no actor login or root authority
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestEnvironment'
        '401':
          description: Invalid or revoked selector
        '422':
          description: Test selector required
  /api/contracts:
    get:
      operationId: contractCatalog
      summary: Discover API and relay lifecycle compatibility
      tags: [System]
      security: []
      responses:
        '200':
          description: Public lifecycle status, policy and compatibility matrix.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractCatalog'
        '400':
          description: Invalid request
        '503':
          description: Contract state unavailable
  /api/v1/contracts:
    get:
      deprecated: true
      operationId: versionedContractCatalog
      summary: Discover lifecycle compatibility in the selected environment
      tags: [System]
      security: []
      parameters:
      - $ref: '#/components/parameters/TestAppSecret'
      responses:
        '200':
          description: Public lifecycle status, policy and compatibility matrix.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractCatalog'
        '410':
          description: API contract has sunset
  /api/v1/relay/ws:
    get:
      deprecated: true
      operationId: multiplexedRelay
      summary: Prewarm one physical socket and independently authorize subscriptions
      description: >-
        Upgrade to a WebSocket with relay protocol 1. The server sends relay_ready.
        Submit subscribe frames with a unique subscription_id, bearer token, org_id,
        silicon_ids and optional app_secret or test_key. Per-identity messages are
        wrapped as type frame with subscription_id and the ordinary v1 frame.
        Authorization failures affect only the logical subscription. The prewarm
        connection grants no access. Limit 256 subscriptions and 64 KiB client frames.
        See https://docs.hook.teamofsilicons.com/client/relay/ for heartbeats and ACKs.
      tags: [Deliveries]
      security: []
      responses:
        '101':
          description: Physical socket ready; each subscription still requires authorization
        '400':
          description: Invalid upgrade
  /api/v1/telemetry:
    post:
      deprecated: true
      operationId: recordTelemetryEvent
      summary: Append a bounded diagnostic event to Hook-owned storage
      description: >-
        Requires a live IAM actor in the selected environment. Maximum 8 KiB.
        Credentials, free-form text and payload fields are rejected. Event IDs
        deduplicate within the environment. Accepted writes may be dropped under
        load or during shutdown. Send X-Hook-Telemetry off to opt out.
      tags: [System]
      parameters:
      - $ref: '#/components/parameters/OrgId'
      - $ref: '#/components/parameters/TestAppSecret'
      - name: X-Hook-Telemetry
        in: header
        schema: {type: string, enum: [on, off]}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelemetryEvent'
      responses:
        '202':
          description: Accepted for best-effort persistence
        '204':
          description: Collection disabled
        '401':
          description: Invalid actor or environment credentials
        '422':
          description: Invalid event shape or value
  "/api/v2/version":
    get:
      tags:
      - System
      operationId: getVersionV2
      summary: Read the running service version
      security: []
      responses:
        '200':
          description: Running service and contract version.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/VersionInfo"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '500':
          "$ref": "#/components/responses/InternalError"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v2/silicons/{silicon_id}/hooks":
    get:
      tags:
      - Hooks
      operationId: listHooksV2
      summary: List a Silicon's hooks with their URLs and last activity
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - name: include_deleted
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Active and disabled hooks visible to the actor, plus recoverable
            deleted hooks when include_deleted is true. Each item carries its name,
            endpoint URL, and last_received_at.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HookPage"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    post:
      tags:
      - Hooks
      operationId: createHookV2
      summary: Create a signed webhook endpoint
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - "$ref": "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/HookCreate"
      responses:
        '201':
          description: Hook created; the signing secret is shown once.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HookWithSecret"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '410':
          "$ref": "#/components/responses/Gone"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    patch:
      tags:
      - Hooks
      operationId: setHooksEnabledV2
      summary: Enable or disable a set of hooks atomically
      description: Applies the desired enabled state to 1–1000 unique retained hooks.
        The operation is atomic and intrinsically idempotent; returned items follow
        the request hook_ids order.
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/HooksEnabledUpdate"
      responses:
        '200':
          description: All requested hooks now have the requested enabled state.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/HookPage"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v2/silicons/{silicon_id}/hooks/{hook_id}":
    parameters:
    - "$ref": "#/components/parameters/OrgId"
    - "$ref": "#/components/parameters/SiliconId"
    - "$ref": "#/components/parameters/HookId"
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
    get:
      tags:
      - Hooks
      operationId: getHookV2
      summary: Read one hook
      responses:
        '200':
          description: Hook metadata and signature policy without secret material.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Hook"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    patch:
      tags:
      - Hooks
      operationId: updateHookV2
      summary: Change name, description, time zone, activation, or signature policy
      description: 'Every member is optional. `enabled` applies the dedicated activation
        action; any other member is an update. Signature members merge onto the current
        policy; `"public_key": null` clears the key. Supplying `secret` replaces the
        stored secret. Requiring signatures on a symmetric algorithm needs a stored
        or supplied secret.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/HookUpdate"
      responses:
        '200':
          description: Hook after the change.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Hook"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    delete:
      tags:
      - Hooks
      operationId: deleteHookV2
      summary: Soft-delete a hook
      responses:
        '204':
          description: Hook soft-deleted and retained for 45 days.
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v2/silicons/{silicon_id}/hooks/{hook_id}/restore":
    post:
      tags:
      - Hooks
      operationId: restoreHookV2
      summary: Restore a recoverable hook
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - "$ref": "#/components/parameters/HookId"
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: Hook restored with its existing endpoint and secret.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Hook"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '410':
          "$ref": "#/components/responses/Gone"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v2/silicons/{silicon_id}/hooks/{hook_id}/secret/rotate":
    post:
      tags:
      - Hooks
      operationId: rotateHookSecretV2
      summary: Issue a new generated signing secret
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - "$ref": "#/components/parameters/HookId"
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: New secret shown once; the old secret is invalid immediately.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/SigningSecretResponse"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '410':
          "$ref": "#/components/responses/Gone"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v2/silicons/{silicon_id}/hooks/{hook_id}/endpoint/rotate":
    post:
      tags:
      - Hooks
      operationId: rotateHookEndpointV2
      summary: Replace the endpoint key and retire the old one forever
      description: 'Allocates a new eight-character alphanumeric key that has never
        been used for this Silicon. The previous key is retired permanently: it is
        never reissued for the Silicon and requests to it receive 410 endpoint_retired.'
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - "$ref": "#/components/parameters/HookId"
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: Hook with its new endpoint URL and key.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Hook"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v2/silicons/{silicon_id}/hooks/{hook_id}/events":
    get:
      tags:
      - History
      operationId: listHookEventsV2
      summary: List the last n verified requests for one hook
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - "$ref": "#/components/parameters/HookId"
      - "$ref": "#/components/parameters/HistoryLimit"
      - "$ref": "#/components/parameters/HistoryCursor"
      responses:
        '200':
          "$ref": "#/components/responses/EventPageOk"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v2/silicons/{silicon_id}/events":
    get:
      tags:
      - History
      operationId: listSiliconEventsV2
      summary: List the last n verified requests across all of a Silicon's hooks
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - name: hook_id
        in: query
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/HistoryLimit"
      - "$ref": "#/components/parameters/HistoryCursor"
      responses:
        '200':
          "$ref": "#/components/responses/EventPageOk"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v2/silicons/{silicon_id}/hooks/{hook_id}/blocked-requests":
    get:
      tags:
      - History
      operationId: listHookBlockedRequestsV2
      summary: List withheld requests for one hook
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - "$ref": "#/components/parameters/HookId"
      - "$ref": "#/components/parameters/HistoryLimit"
      - "$ref": "#/components/parameters/HistoryCursor"
      responses:
        '200':
          "$ref": "#/components/responses/BlockedPageOk"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v2/silicons/{silicon_id}/blocked-requests":
    get:
      tags:
      - History
      operationId: listSiliconBlockedRequestsV2
      summary: List withheld requests across all of a Silicon's hooks
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/SiliconId"
      - name: hook_id
        in: query
        schema:
          type: string
          format: uuid
      - "$ref": "#/components/parameters/HistoryLimit"
      - "$ref": "#/components/parameters/HistoryCursor"
      responses:
        '200':
          "$ref": "#/components/responses/BlockedPageOk"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v2/silicon/{silicon_id}/{endpoint_key}":
    parameters:
    - "$ref": "#/components/parameters/SiliconId"
    - "$ref": "#/components/parameters/EndpointKey"
    post:
      tags:
      - Ingress
      operationId: receiveWebhookCompatibilityV2
      summary: Compatibility alias for provider ingress
      security: []
      requestBody:
        required: false
        content:
          "*/*":
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: The request was received and receipted.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Receipt"
        '403':
          "$ref": "#/components/responses/Blocked"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '410':
          "$ref": "#/components/responses/Gone"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v2/auth/iam":
    get:
      tags: [Auth]
      operationId: getIamInformationV2
      summary: Discover the public IAM application configuration
      description: Returns the configured app_id and IAM origin before login. A test
        key selects the test application; production credentials are never a fallback.
        No application secret, token, or environment key is returned.
      security: []
      parameters:
      - "$ref": "#/components/parameters/TestKey"
      - "$ref": "#/components/parameters/TestAppSecret"
      responses:
        '200':
          description: Public application configuration (app_id is null in local auth mode).
          content:
            application/json:
              schema:
                type: object
                required: [app_id, iam_url, testing, login_method]
                properties:
                  app_id:
                    type: [string, 'null']
                  iam_url:
                    type: string
                    format: uri
                  testing:
                    type: boolean
                  login_method:
                    type: string
                    const: short_lived_token
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v2/auth/status":
    get:
      tags: [Auth]
      operationId: getLoginStatusV2
      summary: Verify the current identity online with IAM
      description: Verifies the bearer and current organization membership with IAM.
        Invalid or revoked credentials return 401. Responses are never cached.
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/TestKey"
      - "$ref": "#/components/parameters/TestAppSecret"
      responses:
        '200':
          description: Authenticated Carbon or Silicon in the selected organization.
          content:
            application/json:
              schema:
                type: object
                required: [authenticated, actor, org_id]
                properties:
                  authenticated:
                    type: boolean
                    const: true
                  actor:
                    type: object
                    required: [type, id]
                    properties:
                      type:
                        type: string
                        enum: [carbon, silicon]
                      id:
                        type: string
                  org_id:
                    type: string
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v2/auth/login":
    post:
      tags:
      - Auth
      operationId: loginWithSltV2
      summary: Exchange a Carbon or Silicon short-lived token
      description: IAM authenticates the actor. Hook exchanges the opaque SLT using
        its application credential and returns an access/refresh pair. Local recipient
        URLs can be configured after login in the client and CLI and are never sent to this endpoint.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/LoginRequest"
      responses:
        '200':
          description: Application tokens for the authenticated actor.
          headers:
            Cache-Control:
              schema:
                const: no-store
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Tokens"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v2/auth/refresh":
    post:
      tags:
      - Auth
      operationId: refreshTokensV2
      summary: Rotate a refresh token into a new token pair
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RefreshRequest"
      responses:
        '200':
          description: New token pair; the presented refresh token is consumed.
          headers:
            Cache-Control:
              schema:
                const: no-store
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/Tokens"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '415':
          "$ref": "#/components/responses/UnsupportedMediaType"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v2/auth/logout":
    post:
      tags:
      - Auth
      operationId: logoutV2
      summary: End the IAM session behind a Hook Application token
      responses:
        '204':
          description: Session ended.
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      description: Supply a refresh token as bearer to revoke its whole family, or
        an access token to revoke that token. The body is empty.
    parameters:
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
  "/api/v2/silicons/{silicon_id}/hooks/iam":
    parameters:
    - "$ref": "#/components/parameters/OrgId"
    - "$ref": "#/components/parameters/SiliconId"
    - "$ref": "#/components/parameters/TestKey"
    - "$ref": "#/components/parameters/TestAppSecret"
    post:
      tags:
      - IAM
      operationId: connectIamHookV2
      summary: Connect Silicon IAM events to the Silicon
      description: 'Finds or creates the Silicon''s `Silicon IAM` hook, registers
        its endpoint as the Silicon''s IAM webhook with the caller''s own bearer,
        and stores the `swhs_` secret IAM issues. The hook verifies IAM''s own convention:
        HMAC-SHA-256 over `X-Silicon-IAM-Timestamp.body`, presented as `v1=<hex>`
        in `X-Silicon-IAM-Signature`.'
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: The connected IAM hook.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/IamHook"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '409':
          "$ref": "#/components/responses/Conflict"
        '410':
          "$ref": "#/components/responses/Gone"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v2/iam/events":
    post:
      tags:
      - IAM
      operationId: receiveIamEventV2
      summary: Receive Hook's own Application webhook from Silicon IAM
      description: Authenticated by IAM's delivery signature over the exact body,
        not by a bearer. Requires `X-Silicon-IAM-Event-ID`, `X-Silicon-IAM-Timestamp`,
        `X-Silicon-IAM-Key-Version`, and `X-Silicon-IAM-Signature`.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '204':
          description: Delivery authenticated and recorded.
        '403':
          "$ref": "#/components/responses/Forbidden"
        '408':
          "$ref": "#/components/responses/RequestTimeout"
        '413':
          "$ref": "#/components/responses/PayloadTooLarge"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v2/testing-environments":
    post:
      tags:
      - Testing
      operationId: createTestingEnvironmentV2
      summary: Create an empty sandbox linked to a real IAM test environment
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EnvironmentWithKey"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateEnvironment"
    get:
      tags:
      - Testing
      operationId: listTestingEnvironmentsV2
      summary: List this organization’s environments
      parameters:
      - "$ref": "#/components/parameters/OrgId"
      - name: status
        in: query
        schema:
          type: string
          enum:
          - active
          - deleted
          - all
          default: active
      - name: limit
        in: query
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - name: after
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EnvironmentList"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v2/testing-environments/{environment_id}":
    parameters:
    - "$ref": "#/components/parameters/EnvironmentId"
    - "$ref": "#/components/parameters/OrgId"
    get:
      tags:
      - Testing
      operationId: getTestingEnvironmentV2
      summary: Read environment metadata
      parameters: []
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TestEnvironment"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
    delete:
      tags:
      - Testing
      operationId: deleteTestingEnvironmentV2
      summary: Soft-delete an environment for 30 days
      parameters:
      - "$ref": "#/components/parameters/IdempotencyKey"
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/TestEnvironment"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
          "$ref": "#/components/responses/UnprocessableEntity"
        '500':
          "$ref": "#/components/responses/InternalError"
        '503':
          "$ref": "#/components/responses/ServiceUnavailable"
  "/api/v2/testing-environments/{environment_id}/key":
    parameters:
    - "$ref": "#/components/parameters/EnvironmentId"
    - "$ref": "#/components/parameters/OrgId"
    get:
      tags:
      - Testing
      operationId: getTestingEnvironmentKeyV2
      summary: Retrieve a root key as creator or org admin/owner
      parameters: []
      responses:
        '200':
          description: Operation completed.
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/EnvironmentWithKey"
        '400':
          "$ref": "#/components/responses/BadRequest"
        '401':
          "$ref": "#/components/responses/Unauthorized"
        '403':
          "$ref": "#/components/responses/Forbidden"
        '404':
          "$ref": "#/components/responses/NotFound"
        '409':
          "$ref": "#/components/responses/Conflict"
        '422':
[...]
